.admin-buttons {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    min-height: 40px;
  }
}

.question-actions {
  display: flex;
  gap: 5px;

  button {
    background: none;
    border: 0;
    cursor: pointer;
  }
}
