* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
